<svg
    width="16"
    height="16"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
>
    <title>YouTube</title>
    <path d="M23.498 6.186c-.276-1.049-1.093-1.876-2.14-2.15C19.444 3.64 12 3.64 12 3.64s-7.444 0-9.359.396C1.593 4.307.776 5.134.5 6.186 0 8.185 0 12 0 12s0 3.815.5 5.814c.276 1.049 1.093 1.876 2.14 2.15 1.915.395 9.36.395 9.36.395s7.444 0 9.359-.395c1.047-.274 1.864-1.101 2.14-2.15.5-1.999.5-5.814.5-5.814s0-3.815-.5-5.814zm-14.498 8.46V9.354l6.142 2.646-6.142 2.646z"/>
</svg>
